/**
Releases
 */

#music {
    padding-top: 10px;
}

#music * {
    box-sizing: border-box;
}

#music .music_container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

#music .music_container .releases_container{
    width: 33.333333%;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    margin-bottom: 10px;
}

#music .music_container .releases_container .release{
    border: 1px solid #cccccc;
    margin: 0 5px;
}

#music .music_container .releases_container .release_img{
    display: inline-block;
    padding: 10px;
}

#music select {
    padding: 5px 15px;
    border: 1px solid #cccccc;
}

#music .per_page_cont {
    text-align: right;
    font-weight: 500;
}

#music .per_page_cont label{
    font-weight: 400;
}

#music .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#music .pagination span,
#music .pagination a{
    font-size: 18px;
    padding: 5px 12px;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin-right: 5px;
}

#music .pagination .current{
    background: #cccccc;
}

#music .release_not_found {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    font-size: 24px;
}

/**
Release
 */

#single_release {
    padding-top: 10px;
}
#single_release h2,
#single_release h1{
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
}

#single_release .heads{
    display: block;
    font-size: 16px;
    font-weight: 500;
}

#single_release .information_container {
    margin-bottom: 10px;
}

#single_release .slide_release {
    padding: 5px;
}

#single_release .slide_release > div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#single_release .slide_release a {
    color: white;
}

/**
Artists
 */

#artist .avatar {
    height: 150px;
    padding: 10px 0;
}

#artist .description {
    padding-bottom: 10px;
}

#artist h1{
    font-size: 24px;
    padding: 10px 0;
    display: inline-block;
}

#artist h3 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

#artist .releases_container,
#artist .tracks_container {
   margin-bottom: 10px;
}

#artist .releases_container h4,
#artist .tracks_container h4{
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background: #232323;
}

#artist .releases_container .release,
#artist .tracks_container .track{
    display: flex;
    justify-content: space-around;
}

#artist .releases_container .release,
#artist .tracks_container .track > div{
    padding: 10px;
}

#artist .tracks_container .track:nth-child( 2n-1 ){
    background: #f3f3f3;
}

#artist .artist_not_found{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

/**
Tracks table
 */

#track_list table,
#track_list th,
#track_list td {
    border: 1px solid #cccccc;
}

#track_list thead {
    background: #a9ddf1;
}

/**
Releases filter
 */

#releases_filter .filter_cont a {
    padding: 5px 10px;
    display: inline-block;
    font-size: 18px;
}


#releases_filter .filter_cont .filter_data .fa {
    color: black;
}

#releases_filter .filter_cont .filter_data span{
    width: 10%;
    text-align: right;
    color: #aba7a7;
}

#releases_filter .filter_cont .filter_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}